*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Press Start 2P', 'sans-serif';
}

body {
    margin: 0;
    background-color: #000000;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.none {
    display: none;
}

main {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.start {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tittle {
    color: #ffffff;
    font-size: 4.5rem;
}

.players {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.players a, .btn-audio {
    text-decoration: none;
    color: #f1bd13;
    font-size: 3rem;
    border: 1rem double #f1bd13;
    border-radius: 10rem;
    padding: 1.5rem;
    -webkit-box-shadow: 0px 0px 12px 2px #f1bd13;
    -moz-box-shadow: 0px 0px 12px 2px #f1bd13;
    box-shadow: 0px 0px 12px 2px #f1bd13;
}

.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 31rem;
    width: 31rem;
    height: 31rem;
    border: .3rem solid #080bba;
    border-radius: 1.5rem;
    padding: .3rem;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(8, 11, 186, 1);
    -moz-box-shadow: 0px 0px 17px 4px rgba(8, 11, 186, 1);
    box-shadow: 0px 0px 17px 4px rgba(8, 11, 186, 1);
}

.game-space {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: .3rem solid #080bba;
    margin: .4rem;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0px 0px 12px 2px rgba(8, 11, 186, 1);
    -moz-box-shadow: inset 0px 0px 12px 2px rgba(8, 11, 186, 1);
    box-shadow: inset 0px 0px 12px 2px rgba(8, 11, 186, 1);
}

.pac-man {
    position: absolute;
    z-index: -100;
    right: 50%;
    bottom: 50%;
    height: 3rem;
    width: 3rem;
}

.pac-man::after, .pac-man::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 3rem yellow;
    border-radius: 50%;
    border-right-color: transparent;
    /* animation-duration: .4s; */
    /* animation-iteration-count: infinite; */
}

.pac-man::after {
    animation: animacionUno .6s linear infinite;
    /* margin-left: 8rem; */
    /* border-bottom-color: transparent; */
}

.pac-man::before {
    animation: animacionDos .6s linear infinite;
    /* border-top-color: transparent; */
}

@keyframes animacionDos {
    50% {
        transform: rotate(-50deg);
    }
}

@keyframes animacionUno {
    50% {
        transform: rotate(50deg);
    }
}

.ghost {
    position: absolute;
    height: 6rem;
    width: 6rem;
    z-index: -100;
    display: block;
    mask-image: url(../img/381615_ghost_pacman_icon.svg);
    -webkit-mask-image: url(../img/381615_ghost_pacman_icon.svg);
    background-color: rgb(255, 0, 255);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    animation: blink 1s ease infinite;
}

@keyframes blink {
    50% {
        background-color: rgb(2, 49, 255);
    }
}

.eyes::after, .eyes::before {
    content: "";
    position: absolute;
    border-radius: 50% 50%;
    height: 1.8rem;
    width: 1.5rem;
    top: 16px;
    background-color: #ffffff;
}

.eyes::after {
    left: 33px;
}

.eyes::before {
    right: 33px;
}

.pet::after, .pet::before {
    content: "";
    position: absolute;
    border-radius: 50% 50%;
    height: .7rem;
    width: .7rem;
    top: 23px;
    background-color: #000000;
}

.pet::after {
    left: 34px;
    animation: pet-one .6s linear infinite;
}

.pet::before {
    right: 34px;
    animation: pet-two .6s linear infinite;
}

@keyframes pet-two {
    50% {
        right: 40px;
    }
}

@keyframes pet-one {
    50% {
        left: 40px;
    }
}

.reset-game {
    text-decoration: none;
    color: #f1bd13;
    font-size: 3rem;
    border: 1rem double #f1bd13;
    border-radius: 10rem;
    padding: 1.5rem;
    -webkit-box-shadow: 0px 0px 12px 2px #f1bd13;
    -moz-box-shadow: 0px 0px 12px 2px #f1bd13;
    box-shadow: 0px 0px 12px 2px #f1bd13;
}

.winner {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #000000e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showing-winner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60%;
    color: #f1bd13;
    font-size: 6rem;
}

.no-index {
    z-index: 0;
    bottom: 50%;
    right: inherit;
    height: 6rem;
    width: 6rem;
}

.none {
    display: none;
}